@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { @apply bg-white text-slate-900; }

@media print {
  @page {
    size: landscape;
    margin: 10mm;
  }

  html, body {
    height: auto;
    background: #fff;
  }

  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  aside {
    display: none !important;
  }

  main {
    padding: 0 !important;
    background: #fff !important;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
